# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
.mtj.tmp/

# Idea
.idea/
.project
.classpath
*.swp
*.iml
*.iws
*.ipk
*.ipa
*.ipr

# OSX
.DS_Store

# Gradle
.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
